
    body {
      margin: 0;
      font-family: Arial;
      background: #a1a2a4;
      /* #eef1f5 */
    }

    .login-box {
      max-width: 320px;
      margin: 120px auto;
      background: white;
      padding: 25px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }

    input, textarea, select {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
    }

    button {
      width: 100%;
      padding: 10px;
      background: #2e7d32;
      color: white;
      border-radius: 8px;
      cursor: pointer;
      margin-top: 5px;
      transition: 0.2s;
      
    }
    

    button:active {
      transform: scale(0.95);
    }

    .navbar {
      background: #2874f0;
      color: white;
      padding: 12px;
      display: none;
      align-items: center;
    }

    .logo { font-weight: bold; }
    .search { flex: 1; margin: 0 15px; }

    .menu { 
      margin-left: 15px; 
      cursor: pointer; 
      display:flex;              
      align-items:center;        
      gap:5px;                   
    }

    .page { display: none; padding: 20px; }
    .active { display: block; }

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
      gap: 20px;
    }

    .card {
      background: white;
      padding: 12px;
      border-radius: 10px;
      transition: 0.3s;
    }

    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    }

    .added {
      animation: pop 0.4s ease;
    }

    @keyframes pop {
      0% { transform: scale(1); }
      50% { transform: scale(1.1); background: #d4edda; }
      100% { transform: scale(1); }
    }

    .card img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      border-radius: 8px;
      background-color: #a1a2a4;
    }

    .stars {
      color: gold;
      font-size: 14px;
      margin: 5px 0;
    }

    .cart-item {
      background: white;
      padding: 10px;
      margin: 10px 0;
      border-radius: 6px;
      display:flex;
      align-items:center;
      gap:10px;
    }

    .cart-item img {
      width:70px;
      height:70px;
      object-fit:cover;
      border-radius:5px;
    }

    .qty button{
      width:30px;
      margin:2px;
      background:#2874f0;
    }

    .pay-icons img{
      width:50px;
      margin:5px;
    }
    

  